
#signupForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.container {
    align-items: inherit;
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 992px) {
    .container {
        width: 30%;
    }
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    outline: none;
}

.label-text {
    font-weight: bold;
    width: fit-content;
    margin: 10px 0px 0px 0px;
}

a {
    font-size: 14px;
    color: #186CA3;
    text-decoration: none;
}

.signin-btn {
    background-color: orange;
    padding: 10px;
    border: none;
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}